:root {
  --board-color: rgb(187 173 160);
  --text-color-light: rgb(255 255 255);
  --text-color-dark: rgb(119 110 101);
}

* {
  box-sizing: border-box;
  line-height: 1.5;
}

html,
body,
main,
#app {
  height: 100%;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #faf8ef;
  color: var(--text-color-dark);
}

main {
  padding-inline: 1rem;
  padding-block-end: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
p {
  margin: 0;
}

#dialogs {
  position: relative;
  z-index: 10;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
